
/*
 * You can say something about your file if you need it!
 */
/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Globel
 * Elements
 * Header
 * About
 * Quote
 * Skill
 * Experience
 * Work
 * Contact
 * Footer
 * Parallax graphic
**/


/*-------------------------*/
/* $Globel
---------------------------*/

/*-------------------------*/
/* $Elements
---------------------------*/
/*background*/

.bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-position: center;
}
.bg:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(60deg, #fbafaf,#f8ecc9);
	opacity: 0.6;
}
/*-------------------------*/
/* $Header
---------------------------*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: all 0.3s;
	/*border: #000000 1px solid;*/
	transition: all 0.3s;
}
.header--colored{
	background-color: #a79c8e;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
.header--colored .menu-toggle span{
	background-color:  #f8ecc9;
}
.header--colored .navbar__social-bar .icon-bt{
	color: #f8ecc9;
}
/*bt*/
/*normal*/
.bt{
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	height: 36px;
	line-height: 36px;
	padding: 0 16px;
	min-width: 64px;
	box-sizing: border-box;
	font-size: 14px;
	text-align: center;
	font-weight: 500;
	font-family: "Nanum Gothic","Noto Sans TC","Helvetica","Roboto", "Arial", sans-serif;
	letter-spacing: 0;
	text-decoration: none;
	background-color: #fbafaf;
	color: #fff;
	border: 0;
	border-radius: 18px;
	outline: 0;
	cursor: pointer;
	overflow: hidden;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	transition: all 0.3s;
}
.bt--primary,
.bt--secondary,
.bt.bt--brown{
	color: #fff;
}
.bt.bt--primary{
	background-color: #fbafaf;
}
.bt.bt--primary:hover,
.bt.bt--primary:active{
	background-color: #f97777;
	color: #fff;
}
.bt.bt--secondary{
	background-color: inherit;
	border: 1px #9fcff4 solid;
	color: #9fcff4;
}
.bt.bt--secondary:hover,
.bt.bt--secondary:active{
	background-color: #9fcff4;
	color: #fff;
}
.bt.bt--brown{
	background-color: #9B8281;
}
.bt.bt--brown:hover,
.bt.bt--brown:active{
	background-color: #f97777;
	color: #fff;
}
.bt.bt--lg{
	font-size: 20px;
	line-height: 56px;
	height: 56px;
	font-weight: 400;
	border-radius: 28px;
	padding: 0 64px;
}
.bt.bt--md{
	font-size: 18px;
	line-height: 48px;
	height: 48px;
	font-weight: 400;
	border-radius: 24px;
	padding: 0 64px;
}
.bt.bt--sm{
	font-size: 14px;
	line-height: 32px;
	height: 32px;
	font-weight: 400;
	border-radius: 16px;
	padding: 0 32px;
}
.bt-group .bt{
	margin-left: 8px;
	margin-right: 8px;
}
.bt-group--center{
	text-align: center;
}
/*icon*/
.icon-bt{
	display: inline-block;
	width: 32px;
	height: 32px;
	font-size: 24px;
	line-height: 32px;
}
.icon-bt.icon{
	display: block;
	text-align: center;
	transition: all 0.3s;
}
.icon-bt .icon:hover{
    transform: translateY(-20%);
    transition: all 0.3s;
}
/*text-icon*/
.text-bt{
	display: inline-block;
	position: relative;
	margin: 0;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 400;
	font-family: "Nanum Gothic","Noto Sans TC","Helvetica","Roboto", "Arial", sans-serif;
	letter-spacing: 0;
	text-decoration: none;
	color: #484848;
}
.text-bt.text-bt--primary{
	color: #fbafaf;
}
.text-bt.text-bt--lg{
	font-size: 20px;
	line-height: 48px;
	height: 48px;
	font-family: "Nanum Gothic","Noto Sans TC","Helvetica","Roboto", "Arial", sans-serif;
	font-weight: 900;
}
.text-bt.text-bt--lg:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 2px;
	/*z-index: 100;*/
	background-color: #fbafaf;
	transition: all 0.3s;
}
.text-bt.text-bt--lg:hover:before{
	width: 100%;
}
/*image*/
.image{
	width: 100%;
	display: block;
}
/*imgbox*/
.imgbox{
	width: 100%;
	overflow: hidden;
	/*border: 1px solid #000;*/
	/*加這一行確保可以用*/
	position: relative;
}
.imgbox__inner{
	/*推1:1*/
	width: 100%;
	padding-top: 100%;
}
.imgbox__inner.imgbox__inner--4-3{
	padding-top: calc(100% * 3 / 4);
}
.imgbox__inner .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
}
/*Navbar*/
.navbar{
	/*border: #000000 1px solid;*/
}
.navbar__collapse{
	margin-right: -16px;
	margin-left: -16px;
}
.navbar__social-bar{
	/*bt line-height和這裡的上下24加起來剛好80*/
	/*也剛好有垂直置中的效果*/
	padding: 24px;
	float: left;
	/*border: #000000 1px solid;*/
}
@media (min-width:768px){
.navbar__social-bar
	{
	padding: 12px;
	}
}

.navbar__social-bar .icon-bt{
	color: #a79c8e;
}
@media (min-width:768px){
	.navbar__social-bar .icon-bt{
		font-size: 32px;
}
}
.navbar__nav{
	float: right;
}
/*menu-toggle*/
.menu-toggle{
	/*border: #000000 1px solid;*/
	display: block;
	padding: 24px;
	padding-top: 26px;
}
@media screen and (min-width:768px){
.menu-toggle{
	padding: 12px;
	padding-top: 16px;
}
}
.menu-toggle span{
	display: block;
	width: 32px;
	height: 2px;
	background-color: #a79c8e;
	margin-bottom: 8px;
	transition: all 0.3s;
}
.menu-toggle:hover span:nth-child(1){
	transform: translateX(-20%);
}
.menu-toggle:hover span:nth-child(3){
	transform: translateX(20%);
}
/*popup-menu*/
.popup-menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FBAFAF;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;
}
/*display:none display:block沒辦法加時間!*/
#popup-overlay:target{
	opacity: 1;
	visibility: visible;
}
.popup-menu__close{
	padding: 24px;
	width: 80px;
	height: 80px;
	/*預設是inline，要改才能調大小*/
	display: block;
	float: right;
	transition: all 0.3s;
	margin-right: -16px;
}
@media (max-width:768px){
	.popup-menu__close{
		padding: 12px;
		width: 56px;
		height: 56px;
	}
}
.popup-menu__close:hover{
	transform: rotate(180deg);
}
.popup-menu__close span{
	width: 32px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
}
.popup-menu__close span:nth-child(1){
	transform: translate(-50%,-50%) rotate(45deg);
}
.popup-menu__close span:nth-child(2){
	transform: translate(-50%,-50%) rotate(-45deg);
}
.popup-menu__item{
	display: block;
	text-align: center;
	font-family: "Nanum Gothic","Noto Sans TC","Helvetica","Roboto", "Arial", sans-serif;
	font-size: 40px;
	font-weight: 900;
	color: #FFFFFF;
	line-height: 80px;
	transition: all 0.3s;
}
@media (max-width:768px){
	.popup-menu__item{
		font-size: 24px;
		line-height: 48px;
	}
}
.popup-menu__item:hover{
	color: #f8ecc9;
}
/*-------------------------*/
/* $about
---------------------------*/
.shero{
	/*border: #000000 1px solid;*/
	padding-top: 20vh;
	/*padding-bottom: 20vh;*/
}
@media (max-width: 480px){
	.shero{
		padding-top: 80px;
		padding-bottom: 80px;
	}
}
.shero__heading{
	font-size: 120px;
	font-weight: 900;
	font-family: "Nanum Gothic","Noto Sans TC","Helvetica","Roboto", "Arial", sans-serif;
}
@media (max-width: 480px) {
	.shero__heading{
	font-size: 48px;
	font-weight: 900;
}
}
@media (min-width:480px) and (max-width: 768px) {
  .shero__heading{
	font-size: 60px;
	font-weight: 900;
}
}
@media (min-width:768px) and (max-width:880px){
	.shero__heading{
	font-size: 90px;
	font-weight: 900;
}
}
.shero__bg{
	/*border: 1px black solid;*/
	position: absolute;
	top: 80px;
	width: 100%;
	height: 100%;
	background-image: url('../img/bigimg.png');
	/*寬度*/
	background-size: 500px;
	background-repeat: no-repeat;
	background-position:top right;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1140px;
}
@media only screen and (max-width: 768px) {
	.shero__bg{
		background-size: 400px;
}
@media only screen and (max-width: 480px) {
	.shero__bg{
		background-size: 200px;
}
